* {
  background-color: rgb(30, 30, 30);
  color: white;
}

.App {
  text-align: center;
}

input {
  color: rgb(30, 30, 30);
  background-color: white;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
}

form {
  margin-top: 10%;
}

input, button:focus {
  outline: none;
}

h1 {
  color: teal
}

.btn {
  background-color: teal;
  margin-left: 50px;
}