* {
  background-color: rgb(30, 30, 30);
  color: white;
}

.App {
  text-align: center;
}

input {
  color: rgb(30, 30, 30);
  background-color: white;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 10xp;
}

form {
  margin-top: 10%;
}
